In [1]:
import pandas as pd
import numpy as np

In [3]:
dress = pd.read_excel("dress.xlsx")
dress.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,null,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,null,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,null,null,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [5]:
cat = pd.Categorical(dress["Style"])
cat.describe()

            counts  freqs
categories
Brief           18  0.036
Casual         232  0.464
Flare            2  0.004
Novelty          8  0.016
OL               1  0.002
Sexy            69  0.138
bohemian        24  0.048
cute            45  0.090
fashion          1  0.002
party           51  0.102
sexy             7  0.014
vintage         25  0.050
work            17  0.034

In [ ]:
dress["Style"].replace('Novelty',4, inplace=True)

In [6]:
cat = pd.Categorical(dress["Price"])
cat.describe()

            counts  freqs
categories
Average        252  0.504
High             6  0.012
Low            129  0.258
Medium          30  0.060
high            15  0.030
low             45  0.090
very-high       21  0.042
NaN              2  0.004